
{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title mb-0">User Profile</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-3 text-center">
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="img-thumbnail rounded-circle mb-3" width="150">
                        {% else %}
                            <div class="bg-light rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 150px; height: 150px;">
                                <i class="bi bi-person" style="font-size: 4rem;"></i>
                            </div>
                        {% endif %}
                        <div class="badge bg-primary mb-2">{{ user.get_role_display }}</div>
                    </div>
                    <div class="col-md-9">
                        <h5>{{ user.get_full_name|default:user.username }}</h5>
                        <p class="text-muted">@{{ user.username }}</p>
                        
                        <dl class="row mb-0">
                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">{{ user.email }}</dd>
                            
                            {% if user.department %}
                                <dt class="col-sm-3">Department:</dt>
                                <dd class="col-sm-9">{{ user.department.name }}</dd>
                            {% endif %}
                            
                            {% if user.team %}
                                <dt class="col-sm-3">Team:</dt>
                                <dd class="col-sm-9">{{ user.team.name }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.department|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.team|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.profile_picture|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.bio|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'change_password' %}" class="btn btn-outline-secondary">
                            <i class="bi bi-key"></i> Change Password
                        </a>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Add any profile-specific JavaScript here
</script>
{% endblock %}
